@font-face {
  font-family: "Orkney-Regular";
  src: url("../fonts/Orkney-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Orkney-Light";
  src: url("../fonts/Orkney-Light.otf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Orkney-Medium";
  src: url("../fonts/Orkney-Medium.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Orkney-Bold";
  src: url("../fonts/Orkney-Bold.otf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}


@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}


@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}


@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight:normal;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2-Bold";
  src: url("../fonts/Exo2-Bold.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2-Medium";
  src: url("../fonts/Exo2-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2-Regular";
  src: url("../fonts/Exo2-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2-Semi";
  src: url("../fonts/Exo2-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}